<div class="tasks-wrapper">
    <div class="tasks-top-header">
        <h1>
            My Tasks
        </h1>
        <div>
            <button (click)="onCreateClick()">
                Create
            </button>
        </div>
    </div>
    <section>
        @if(tasks().length === 0) {
            <p class="no-tasks">No tasks available. Create one to get started!</p>
        }
        <ul>
            @for(task of tasks(); track task.taskId) {
                <app-task [task]="task" />
            }
        </ul>
    </section>
</div>
